body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4A93FF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

header {
    background: transparent url('../img/logo.jpg') no-repeat scroll 0 0;
    border-bottom: 1px solid black;
    color: white;
    height: 75px;
    background-color: blue;
}
header h1 {
    float: left;
    width: 240px;
    margin: 5px 0 0 50px;
    text-align: left;
}
nav {
    border-right: 1px solid #0000FF;
    text-align: left;
    white-space: nowrap;
    background-color: #007CFF;
    width: 190px;
    color: white;
}

nav a {
    display: block;
    padding: 5px 20px;
    color: white;
}
nav a.active,
nav a:hover {
    color: white;
    background-color: blue;
}

a {
    decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    decoration: underline;
}
.content {
    display: table;
    width: 100%;
}
.content-row {
    display: table-row;
}

.content .column {
    display: table-cell;
}
.inner-content {
    background: white;
    text-align: left;
    margin: 0 auto 70px;
    padding: 0 28px;
}

footer .centered-content {
    margin: 10px auto;
}

footer {
    border-top: 1px solid #0000FF;
    background-color: #4A93FF;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.inline {
    display: inline;
}
.left {
    float: left;
}
.right {
    float: right;
}

.clear {
    clear: both;
}
.columns {
    display: inline-table;
    width: 33%;
}
dl {
    border: 1px solid black;
    width: 92%;
    margin: 0 0 5px;
}
dt {
    padding: 5px;
    font-weight: bold;
    background-color: #007CFF;
    text-align: center;
    color: white;
}
dd {
    border-top: 1px solid gray;
    font-size: 80%;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}
.incomplete {
    background-color: #CF2323;
}

.complete {
    background-color: #009900;
    color: white;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow: scroll;
}

.coursesModal {
    position: relative;
    width: 900px;
    min-height: 300px;
    border: 1px solid blue;
    border-radius: 8px;
    margin: 100px auto;
}

.coursesModal .close {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    background: blue;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 0 6px 0 0;
    font-weight: bold;
}
.noScroll {
    overflow: hidden;
    padding-right: 17px;
}
.courses {
    display: table;
    width: 100%;
}

.courses .row {
    display: table-row;
}

.courses .row .cell {
    display: table-cell;
}

.courses .header .cell {
    background: gray;
    border: 2px solid white;
    padding: 2px 0;
    font-size: 12px;
}
.courses .ng-scope .profesor {
    text-align: left;
    padding-left: 5px;
}
.courses .ng-scope .times {
    list-style: none;
    text-align: left;
    padding: 0 0 0 5px;
}
.courses .ng-scope .cell {
    border-bottom: 1px solid gray;
    padding: 3px;
    vertical-align: middle;
}
