<!DOCTYPE html>
<html ng-app="systemApp">
<head>
<meta charset="UTF-8">
<title>Sistema de inscripciones</title>
<link rel="icon" href="img/favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/filters.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-controller="SystemCtrl" ng-class="{'noScroll': activeModal}">
    <header>
        <h1>Sistema de Inscripciones</h1>
        <div class="credits">
            <div class="row">
                <div class="cell names">Créditos en obligatorias
                    comunes + Tesis o Trabajo Prof.:</div>
                <div class="cell numbers">{{mandatoryCreditsSum()}}</div>
                <div class="cell">de</div>
                <div class="cell numbers">{{mandatoryCreditsTotal + courses[selectedTesis].creditos}}</div>
            </div>
            <div class="row">
                <div class="cell names">Créditos en obligatorias
                    orientación:</div>
                <div class="cell numbers">{{mandatoryOrientedCreditsSum()}}</div>
                <div class="cell">de</div>
                <div class="cell numbers">{{mandatoryOrientedCreditsTotal}}</div>
            </div>
            <div class="row">
                <div class="cell names">Créditos en electivas:</div>
                <div class="cell numbers">{{electedCreditsSum()}}</div>
                <div class="cell">de</div>
                <div class="cell numbers">{{electedCreditsTotal | addCredits:this }}</div>
            </div>
        </div>
        <div class="selections">
            <label>Orientación Elegida:
                <select ng-model="selectedOrientation">
                    <option
                        ng-repeat="content in subjects.orientacion.content"
                        ng-selected="$first"
                        value="{{content.id}}">{{content.description}}</option>
                </select> 
            </label> 
            <label>Tesis o Trabajo Profesional:
                <select ng-model="selectedTesis">
                    <option ng-repeat="assign in tesisElection" value="{{assign}}">{{courses[assign].nombre}}</option>
                </select>
            </label> 
        </div>
    </header>
    <div class="overlay" ng-show="activeModal">
        <div class="coursesModal" ng-show="gradeModal">
            <a class="close" href="#" ng-click="toggleModal()">x</a>
            <h3>Nota de {{selectedAssignature}}</h3>
            <div class="courses">
                <ul class="grades">
                    <li class="grade" ng-repeat="grade in ['MAL', 4,5,6,7,8,9,10]">
                        <input id="grade-{{grade}}" 
                            ng-Model="user.subjects[selectedAssignature].grade"
                            ng-value="{{grade}}"
                            name="grade" 
                            type="radio" />
                        <label for="grade-{{grade}}">{{grade}}</label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" ng-click="toggleModal()">Cerrar</a>
                <a href="#" class="btn" ng-click="saveGrade()">Inscribir</a>
            </div>
        </div>
        <div class="coursesModal" ng-show="itineraryModal">
            <a class="close" href="#" ng-click="toggleModal()">x</a>
            <h3>{{selectedCourse.code}} -
                {{selectedCourse.data.nombre}}</h3>
            <div class="courses">
                <div class="row header">
                    <div class="cell "></div>
                    <div class="cell id">CURSOS</div>
                    <div class="cell vacancy">VACANTES</div>
                    <div class="cell profesor">PROFESORES</div>
                    <div class="cell times">HORARIOS</div>
                </div>
                <div ng-repeat="courses in selectedCourse.data.cursos"
                    class="row">
                    <div class="cell "><input type="radio" name="idCourse" id={{courses.curso}}></div>
                    <div class="cell id">{{courses.curso}}</div>
                    <div class="cell vacancy">{{courses.vacantes}}</div>
                    <div class="cell profesor">{{courses.profesor}}</div>
                    <ul class="cell times">
                        <li ng-repeat="times in courses.horarios">{{times}}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" ng-click="toggleModal()">Cerrar</a>
                <a href="#" class="btn" ng-click="register()">Inscribir</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-row">
            <div class="column info">
                <div class="resume">
                    <div>Créditos obtenidos: {{creditsObtained()}} </div>
                    <div>Materias aprobadas: {{subjectsApproved()}} </div>
                    <div>Porcentaje aprobado:  {{creditsObtained() / 248 * 100 | number: 2}}%</div>
                    <div>Promedio FIUBA:  {{totalGrades() / subjectsApproved() | number: 2}}%</div>
                </div>
                <h4 ng-show="userInscriptions.length > 0" class="centrar" >Usted está inscripto a:</h4>
                <div ng-show="userInscriptions.length > 0" class="inscripto">
                    <div ng-repeat="inscription in userInscriptions">
                        <h5 style="text-align: left;">{{inscription.code}} - {{courses[inscription.code].nombre}}</h5>
                        <ul class="times">
                            <li ng-repeat="times in inscription.horarios">{{times}}</li>
                        </ul>
                         <a href="#" class="btn" ng-click="removeContact(inscription)">Eliminar</a>
                    </div>
                </div>
                <div ng-show="noInscriptions">
                    <h4 class="centrar" >Seleccione una materia<br/> para inscribirse</h4>
                </div>
            </div>
            <div class="column inner-content">
                <div
                    ng-repeat="(key, subject) in [subjects.obligatorias, subjects.orientacion, subjects.electivas] track by $index"
                    class="columns">
                    <h4>{{subject.type}}</h4>
                    <dl ng-repeat="group in subject.content">
                        <dt>
                            {{group.description | electedOrientation : key != 1 || (key == 1 && group.id == selectedOrientation): 'Electiva'}}
                        </dt>
                        <dd ng-repeat="assignature in group.assignatures"
                            ng-class="{'complete': user.subjects[assignature].grade >= 4}"
                            ng-show="isSelectedTesis(assignature)">
                            <div class="name">{{assignature}} - {{courses[assignature].nombre}}</div>
                            <button class="buttons"
                                ng-click="openItineraryModal(assignature)"
                                ng-hide="user.subjects[assignature].grade >= 4">
                                Horarios
                            </button>
                            <button class="buttons"
                                ng-click="openGradeModal(assignature)">
                                {{user.subjects[assignature].grade | coalesce : 'Nota'}}
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <footer>
        7573 - Arquitectura de Software - 1<sup>er</sup> Cuatrimestre
        2014 - Profesor: Guillermo Rugilo - Alumnos: Estefanía Arias
        Montes (83728); Sergio Soria (86095)
    </footer>
</body>
</html>
